<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
  </head>
  <body>

    <h1>Movies</h1>
    <label for="movie_title">Enter a movie title</label>
    <input type="text" name="movie_title" value="" id="movie_title">

    <br><br>

    <img id="poster" src="" alt="">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>>
    <script type="text/javascript" src="./javascripts/app.js"></script>

  </body>
</html>
